h1 {color: #cd2626;text-align: center;}
h2 {color: #8780e4;text-align: center;}
.container {
    width: 50%;
}
body {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(190, 244, 222, 0.632);
}